h1{
    font-size: 30px;
    font-weight: 5100;
    text-align:left;
    padding-top: 15px;
    display:block;
    color:#800517;
    padding-left: 20px;
      

}



.result{
    display:flex;
    align-items:flex-start;
    min-height: 85vh;
    background:url(https://www.esssuper.com.au/Images/UserUploadedImages/420/ILoad952___Medium.jpg) no-repeat;
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
   
}